*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
}

.row
{
    height: 70%;
    width: 30%;
    border: 1px solid;
    box-shadow: 10px 10px 10px black;
}

.sign
{
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}



.up
{
    font-weight: bold;
    text-align: center;
}

.name
{
    /* border: 1px solid; */
    margin-top: 6%;
    padding-left: 15%;
    font-weight: bold;
}

input
{
    margin-top: 2%;
    margin-left: 14%;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    width: 80%;
}

.email
{
    /* border: 1px solid; */
    margin-top: 6%;
    padding-left: 15%;
    font-weight: bold;
}

.password
{
    /* border: 1px solid; */
    margin-top: 6%;
    padding-left: 15%;
    font-weight: bold;
}

.bord
{
    /* border: 1px solid; */
    margin-top: 6%;
    text-align: center;
    width: 80%;
    margin-left: 14%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    font-weight: bold;
}

.bord:hover
{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.rem
{
    /* border: 1px solid; */
    padding-left: 14%;
    margin-top: 4%;
    font-weight: bold;
}

.fa-square
{
  margin-right: 2%;
}


















@media all and (max-width:375px)
{
    .row
    {
        width: 80%;
        height: 55%;
    }

    .sign
    {
        margin-top: 8%;
    }


}


@media all and (max-width:580px)
{
    .row
    {
        width: 80%;
        height: 48%;
    }
}